@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@layer components {
  @media screen and (min-width: 768px) {
    nav ul a {
        transition: background-size 0.3s ease-in-out, color 0.3s ease-in-out;

      background-position:
        100% 100%,
        0 100%;
      background-repeat: no-repeat;
      background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
        linear-gradient(#ffffff, #ffffff);
      background-size:
        100% 2px,
        0 2px;
    }

    nav ul a:hover {
      background-size:
        0 2px,
        100% 2px;
    }
  }

  nav ul a:not(nav ul a[aria-current='page']) {
    @apply text-white;
    @apply md:dark:hover:bg-transparent;
    @apply md:hover:bg-transparent;
    @apply md:text-blue-50;
    @apply md:dark:text-blue-500;
  }

  nav ul a[aria-current='page'] {
    @apply text-white;
    @apply bg-blue-400;
    @apply md:bg-transparent;

    background-size:
      0 2px,
      100% 2px;
  }
}
