@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @apply transition-colors duration-150;
  }
}

@layer components {
  @media screen and (min-width: 768px) {
    nav ul a {
      transition:
        background-size 0.3s ease-in-out,
        color 0.3s ease-in-out;

      background-position:
        100% 100%,
        0 100%;
      background-repeat: no-repeat;
      background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
        linear-gradient(#ffffff, #ffffff);
      background-size:
        100% 2px,
        0 2px;
    }

    nav ul a:hover {
      background-size:
        0 2px,
        100% 2px;
    }
  }

  nav ul a:not(nav ul a[aria-current='page']) {
    @apply text-white md:dark:hover:bg-transparent md:hover:bg-transparent md:text-blue-50 md:dark:text-blue-500;
  }

  nav ul a[aria-current='page'] {
    @apply text-white bg-blue-400 md:bg-transparent;

    background-size:
      0 2px,
      100% 2px;
  }

  .project-card {
    @apply p-2 bg-blue dark:bg-white bg-opacity-25 dark:bg-opacity-15 rounded-lg;
  }
}
